  <form
    class="form mx-2" 
    (ngSubmit)="medicineForm.form.valid && save()"
    #medicineForm="ngForm"
  >
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label>Código:</label>
          <input
            type="number"
            class="form-control"
            name="codigo"
            [(ngModel)]="medicine.id_medicamento_registro"
            placeholder="Código do medicamento"
            #inpCod="ngModel"
            [ngClass]="{ 'is-invalid': medicineForm.submitted && inpCod.invalid }"
            required
          />
          <p *ngIf="medicineForm.submitted && inpCod.invalid">Código inválido</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label>Nome:</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            [(ngModel)]="medicine.nome_comercial"
            placeholder="Nome do medicamento"
            required
            #inpNome="ngModel"
            [ngClass]="{ 'is-invalid': medicineForm.submitted && inpNome.invalid }"
          />
          <div>
            <span *ngIf="medicineForm.submitted && inpNome.invalid">Nome inválido</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label>Tipo de medicamento:</label>
          <select
            class="form-control"
            name="tipo"
            [(ngModel)]="medicine.tipo"
            required
            #inpTipo="ngModel"
            [ngClass]="{ 'is-invalid': medicineForm.submitted && inpTipo.invalid }"
          >
            <option value="CÁPSULA">CÁPSULA</option>
            <option value="COMPRIMIDO">COMPRIMIDO</option>
            <option value="CREME">CREME</option>
            <option value="PASTILHA">PASTILHA</option>
            <option value="POMADA">POMADA</option>
            <option value="SOLUÇÃO ORAL">SOLUÇÃO ORAL</option>
            <option value="SPRAY">SPRAY</option>
            <option value="XAROPE">XAROPE</option>
          </select>
          <div>
            <span *ngIf="medicineForm.submitted && inpTipo.invalid">Tipo inválido</span>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <input type="submit" class="btn btn-primary" value="Salvar" />
        <input type="button" class="btn btn-secondary ml-2" (click)="clear()" value="Cancelar"/>
      </div>
    </div>
  </form>