<div class="form mx-2">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8 ">
      <div class="form-grup">
        <label>Nome:</label>
        <input
          type="text"
          class="form-control"
          name="inputName"
          [(ngModel)]="inputName"
          placeholder="Nome da crianca"
        />
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 ">
      <div class="form-grup">
        <label>Data de nascimento:</label>
        <input
          type="date"
          class="form-control"
          name="inputBirth"
          [(ngModel)]="inputBirth"
        />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>Genero:</label>
        <select class="form-control" [(ngModel)]="inputGender">
          <option value="1">Masculino</option>
          <option value="2">Feminino</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>Tipo sanguíneo:</label>
        <select class="form-control" [(ngModel)]="inputBlood">
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-grup">
        <label>rg:</label>
        <input
          type="text"
          class="form-control"
          name="inputRg"
          [(ngModel)]="inputRg"
          placeholder="RG da crianca"
        />
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>Etnia:</label>
        <select class="form-control" [(ngModel)]="inputSkin">
          <option value="Branca">Branca</option>
          <option value="Parda">Parda</option>
          <option value="Negra">Negra</option>
          <option value="Indigena">Indígena</option>
          <option value="Amarela">Amarela</option>
          <option value="Outra">Outra</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>Cor dos olhos:</label>
        <select class="form-control" [(ngModel)]="inputEyes">
          <option value="Azul">Azul </option>
          <option value="Azul-esverdeado">Azul-esverdeado</option>
          <option value="Cinza">Cinza</option>
          <option value="Castanho">Castanho</option>
          <option value="Verde">Verde</option>
          <option value="Avela">Avelã</option>
          <option value="Mel">Mel</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>Cor do cabelo:</label>
        <select class="form-control" [(ngModel)]="inputHair">
          <option value="Loiros">Loiros </option>
          <option value="Ruivos">Ruivos</option>
          <option value="Castanhos">Castanhos</option>
          <option value="Pretos">Pretos</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="this.save()">
        Salvar
      </button>
    </div>
  </div>
</div>
