<span class="card mb-2 shadow " [routerLink]="['/child', child.id]">
  <span class="card-body">
    <h5 class="card-title">{{ child.nome }}</h5>
    <div>
      <span class="card-subtitle mb-2 text-muted">Genero: </span
      ><span class="card-subtitle mb-2">{{ child.genero }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Sangue: </span
      ><span class="card-subtitle mb-2">{{ child.tipo_sanguineo }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Idade: </span
      ><span class="card-subtitle mb-2">{{ child.data_nascimento }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Pele: </span
      ><span class="card-subtitle mb-2">{{ child.cor_pele }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Olho: </span
      ><span class="card-subtitle mb-2">{{ child.cor_olhos }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Cabelo: </span
      ><span class="card-subtitle mb-2">{{ child.cor_cabelo }}</span>
    </div>
  </span>
</span>
