<span class="card mb-2 shadow min-height">
  <span class="card-body">
    <h5 class="card-title">{{ appointment.nome }}</h5>
    <div>
      <span class="card-subtitle mb-2 text-muted">Data: </span
      ><span class="card-subtitle mb-2">{{ appointment.data_consulta }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Retorno: </span
      ><span class="card-subtitle mb-2">{{ appointment.retorno }}</span>
    </div>
    <div>
      <span class="card-subtitle mb-2 text-muted">Criança: </span
      ><span class="card-subtitle mb-2">{{ appointment.id_crianca }}</span>
    </div>
  </span>
</span>
