<app-main [title]="'Login'" [subtitle]="'Acesse o sistema'">
  <div class="row">
    <form class="col-12 col-md-6 offset-md-3">
      <div class="form-group">
        <label for="inpEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inpEmail"
          placeholder="bbwatch@email.com"
          [(ngModel)]="email"
          name="inpEmail"
          required
        />
      </div>
      <div class="form-group">
        <label for="inpPass1">Senha</label>
        <input
          type="password"
          class="form-control"
          id="inpPass1"
          name="inpPass1"
          placeholder="Password"
          [(ngModel)]="pass"
          required
        />
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mt-2">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            (click)="signIn(email, pass)"
          >
            Entrar
          </button>
        </div>
        <div class="col-12 col-md-6 mt-2">
          <button
            type="submit"
            class="btn btn-danger btn-block"
            (click)="resetPassword(email)"
          >
            Redefinir senha
          </button>
        </div>
      </div>
    </form>
  </div>
</app-main>
