<app-main
  [title]="'Cadastro'"
  [subtitle]="'Preencha os campos a seguir para entrar em nosso sistema'"
>
  <div class="row">
    <form 
      class="col-12 col-md-6 offset-md-3" 
      (ngSubmit)="signUpForm.form.valid && signUp(email, pass1, pass2, inputCrm, inputSpecialty, inputDoctor)"
      #signUpForm="ngForm"
    >
      <div class="form-group">
        <label for="inpEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inpEmail"
          placeholder="bbwatch@email.com"
          [(ngModel)]="email"
          name="inpEmail"
          email
          pattern="^[\w.%+-]+@[\w-]+(\.[a-zA-Z0-9]+)+$"
          #inpEmail="ngModel"
          [ngClass]="{ 'is-invalid': signUpForm.submitted && inpEmail.invalid }"
        />
        <p *ngIf="signUpForm.submitted && inpEmail.invalid">E-mail inválido</p>
      </div>
      <div class="form-group">
        <label for="inpPass1">Senha</label>
        <input
          type="password"
          class="form-control"
          id="inpPass1"
          placeholder="Password"
          [(ngModel)]="pass1"
          name="inpPass1"
          required
          [pattern]="passPattern"
          #inpPass1="ngModel"
          [ngClass]="{ 'is-invalid': signUpForm.submitted && inpPass1.invalid }"
        />
        <p *ngIf="signUpForm.submitted && inpPass1.invalid">Senha deve conter ao menos uma letra maiúscula, uma letra minúscula, um número e um caracter especial</p>
      </div>
      <div class="form-group">
        <label for="inpPass2">Confirme a senha</label>
        <input
          type="password"
          class="form-control"
          id="inpPass2"
          placeholder="Password"
          [(ngModel)]="pass2"
          name="inpPass2"
          [pattern]="inpPass1.value"
          #inpPass2="ngModel"
          [ngClass]="{ 'is-invalid': signUpForm.submitted && inpPass2.invalid }"
        />
        <p *ngIf="signUpForm.submitted && inpPass2.invalid">As senhas não correspondem</p>
      </div>

      <div class="form-group" *ngIf="inputDoctor">
        <label for="inputCrm">CRM</label>
        <input
          type="text"
          class="form-control"
          id="inputCrm"
          [(ngModel)]="inputCrm"
          name="inputCrm"
          [required]="inputDoctor ? true : undefined"
          #crm="ngModel"
          [ngClass]="{ 'is-invalid': signUpForm.submitted && crm.invalid }"
        />
        <p *ngIf="signUpForm.submitted && crm.invalid">É necessário informar o CRM caso seja pediatra</p>
      </div>
      <div class="form-group" *ngIf="inputDoctor">
        <label for="inputSpecialty">Especialidade</label>
        <input
          type="email"
          class="form-control"
          id="inputSpecialty"
          [(ngModel)]="inputSpecialty"
          name="inputSpecialty"
        />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="inputDoctor"
          id="inputDoctor"
          name="inputDoctor"
        />
        <label class="form-check-label" for="inputDoctor">
          Sou um pediatra
        </label>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mt-2">
          <button
            type="submit"
            class="btn btn-primary btn-block mt-2"
          >
            Cadastrar
          </button>
        </div>
        <div class="col-12 col-md-6 mt-2">
          <button
            type="submit"
            class="btn btn-danger btn-block mt-2"
            routerLink="/sign-in"
          >
            Já sou cadastrado
          </button>
        </div>
      </div>      
      <div class="col-12 mt-2 alert alert-danger" *ngIf="!!error && showError">
        {{error}}
      </div>
    </form>
  </div>
</app-main>
