:root {
  --bg-dark: #1a2f3a;
  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0.06);
}

html,
body {
  min-height: 100% !important;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin: 0px;
  background-color: #f0f5f5;
}
