<div class="form mx-2">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 ">
      <div class="form-grup">
        <label>Data da consulta:</label>
        <input
          type="date"
          class="form-control"
          name="appointmentDate"
          [(ngModel)]="appointmentDate"
        />
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 ">
      <div class="form-grup">
        <label>Hora da consulta:</label>
        <input
          type="time"
          class="form-control"
          name="appointmenTime"
          [(ngModel)]="appointmentTime"
        />
      </div>
    </div>

    <div class="col-12 mt-2">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="isReturn"
          [(ngModel)]="isReturn"
        />
        <label class="form-check-label" for="isReturn">É retorno</label>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="form-group">
        <label>Criança:</label>
        <select class="form-control" [(ngModel)]="idChild">
          <option *ngFor="let child of children" value="child.id">{{
            child.nome
          }}</option>
        </select>
      </div>
    </div>

    <hr />

    <div class="col-12">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="rememberWeek"
          [(ngModel)]="rememberWeek"
        />
        <label class="form-check-label" for="rememberWeek"
          >Lembrar uma semana antes</label
        >
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="rememberDay"
          [(ngModel)]="rememberDay"
        />
        <label class="form-check-label" for="rememberDay"
          >Lembrar um dia antes</label
        >
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="rememberHour"
          [(ngModel)]="rememberHour"
        />
        <label class="form-check-label" for="rememberHour"
          >Lembrar uma hora antes</label
        >
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="this.save()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
